.carousel-container {
    background-image: linear-gradient(to top, #351d5e, #7b46d8);
    .auth-carousel {
        height: 100%;

        .mantine-Carousel-viewport {
            height: 100%;

            .mantine-Carousel-container {
                height: 100%;
            }
        }
    }
}