@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Plus Jakarta Sans','sans-serif' !important;
}

:root {
  /*--mantine-color-body: #e2e6da3b !important;*/
  --app-shell-header-height: 80px !important;
  --app-shell-header-offset: 80px !important;
  --primary-card-background: rgba(241, 246, 223, 0.5);
}

:root {
  font-size: 14px;
  @media (min-width: 1360px) {
    font-size: 14px !important;
  }
  @media (max-width: 1450px) {
    font-size: 14px !important;
  }
  @media (min-width: 1540px) {
    font-size: 16px !important;
  }
  @media (min-width: 1920px) {
    font-size: 24px;
  }
}


@theme{
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-mxs: 0.75rem;
    --spacing-msm: 1.25rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 4rem;
    --spacing-3xl: 4.5rem;
    --spacing-4xl: 5rem;
    --spacing-5xl: 5.5rem;
    --spacing-6xl: 6.625rem;
    --spacing-wrapper: 32px;


    /* Named spacing */

/*    breakpoints*/
    --breakpoint-xs: 30rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;

    --color-primary-50: rgba(255, 127, 17, 0.34);
    --color-primary-700: #FF7F11;
    --color-primary-100: #cdd1db;

    --color-accent-700: #EF5A5A;
    --color-accent-300: #FC7D7D;
    --color-accent-70: #F1F6DF;
    --color-secondary-50: rgba(241, 246, 223, 0.5);
    --color-secondary-700: rgb(241, 246, 223);
    --color-secondary-900: rgb(39, 39, 39);
    --color-dark-500: #1D1E30;

    --radius-none: 0px;
    --radius-sm: 2px;
    --radius: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-full: 9999px;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
}

:root{
    --mantine-radius-default: 8px !important;
}




.mantine-Grid-inner {
  max-width: 100% !important;
  margin: 0 !important;
  height: 100%;
}


.two-line {
  overflow: hidden;
  max-height: 3.5rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.two-line-fixed-height {
  overflow: hidden;
  height: 3rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.three-line-fixed-height {
  overflow: hidden;
  height: 4rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.five-line-fixed-height {
  overflow: hidden;
  height: 6rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
  height: 8px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #5d5d5d;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #e3e3e3;
  border-radius: 8px;
}

.mantine-AppShell-main{
  overflow:auto;
  max-height:100vh;
}

.m_96bdd299 mantine-Grid-col __m__-«r5»{
  padding:0 !important;
}

